.container {
  margin: 0 auto;
  width: 260px;
  height: 350px;
  position: relative;
  top: calc(50svh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .button {
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba(103, 176, 219, 1);
    }

    img {
      position: relative;
      margin-left: 10px;
    }
  }
}
