.obstacles {
  img {
    position: absolute;
  }
  .windowImage {
    bottom: 330px;
  }
  .bossImage {
    bottom: 127px;
  }
  .posterImage {
    bottom: 485px;
  }
  .colleagueImage {
    bottom: 170px;
  }
  .fishTwoImage {
    bottom: 250px;
  }
  .chairImage {
    bottom: 320px;
  }
  .poufImage {
    bottom: 115px;
  }
  .conditionImage {
    bottom: 645px;
  }
  .fishImage {
    bottom: 160px;
  }
  .folderImage {
    bottom: 560px;
  }
  .colleagueTwoImage {
    bottom: 185px;
  }
  .lampImage {
    bottom: 545px;
  }
  .fishThreeImage {
    bottom: 155px;
  }
  .coolerImage {
    bottom: 335px;
  }
}
